<section class="experience tui-space_bottom-5">
  <a
    [href]="card.link"
    target="_blank"
    tuiCell
    tuiAppearance="flat"
    class="tui-space_vertical-4 overlay"
    *ngFor="let card of cards"
  >
    <div tuiTitle>
      {{ card.title }}
      <div tuiSubtitle>
        {{ card.date }}
      </div>
    </div>

    <footer>
      <tui-chip
        *ngFor="let chip of card.chips"
        appearance="info"
        style="margin: 0.5rem"
        >{{ chip }}</tui-chip
      >
    </footer>
 </a>
</section>
