<section>
    <div tuiCell>
        <div tuiTitle>
            Top Echelon Software
            <div tuiSubtitle>
                Jun 2023 - Jan 2025 
            </div>
        </div>
        <div tuiTitle>
            Software Engineer II
        </div>
    </div>
    <div tuiCell>
        <div tuiTitle>
            Top Echelon Software
            <div tuiSubtitle>
                Apr 2022 - Jan 2023
            </div>
        </div>
        <div tuiTitle>
            Software Engineer Intern
        </div>
    </div>
    <div tuiCell>
        <div tuiTitle>
            Case Western Reserve University
            <div tuiSubtitle>
                Aug 2019 - May 2023
            </div>
        </div>
        <div tuiTitle>
            <div>
                Bachelor of Arts in Computer Science and Cognitive Science
            </div>
        </div>
    </div>
</section>
