<div class="container tui-space_top-10">
    <a
    class="offset card-bg"
    [href]="card.link"
    target="_blank"
    [ngClass]="{'card-bg': this.darkMode()}"
    tuiAppearance="floating"
    tuiCardLarge
    *ngFor="let card of cards"
    >
        <header tuiHeader>
            <h2 tuiTitle>{{ card.title}}</h2>
        </header>

        <section>{{ card.content}}</section>

        <footer>
            <div tuiCell class="project-footer">
                <div>
                    <tui-chip *ngFor="let chip of card.chips" appearance="info" class="chip">{{ chip }}</tui-chip>
                </div>
                <div *ngIf="!!card.image" class="project-image">
                    <tui-avatar [round]="false" [size]="'xl'" [src]="card.image" class="image-avatar"></tui-avatar>
                </div>
            </div>
        </footer>
    </a>
</div>

