<div class="container tui-space_top-10">
    <a
    class="offset"
    [href]="card.link"
    target="_blank"
    [ngClass]="{'card-bg': this.darkMode()}"
    tuiAppearance="floating"
    tuiCardLarge
    *ngFor="let card of cards"
    >
        <header tuiHeader>
            <h2 tuiTitle>{{ card.title}}</h2>
        </header>

        <section>{{ card.content}}</section>

        <footer>
            <tui-chip *ngFor="let chip of card.chips" appearance="info" style="margin: 0.5rem">{{ chip }}</tui-chip>
        </footer>
    </a>
</div>

