<tui-root [attr.tuiTheme]="darkMode() ? 'dark' : null">
<main class="main">
  <header tuiNavigationHeader>
    <div tuiHeader="h1">
      <h1 tuiTitle class="tui-space_left-3 tui-space_right-3">
        <span>Andrew Gross</span>
        <span style="float: right">
          <button
          appearance="secondary"
          [iconStart]="themeIcon"
          size="l"
          tuiIconButton
          type="button"
          (click)="darkMode.set(!darkMode())"
          [style.border-radius.%]="100"
          >
          Theme
          </button>
        </span>
        <div tuiSubtitle>Software Engineer</div>
        <div tuiSubtitle>Bloomington, IN</div>
      </h1>
    </div>
    
  </header>
</main>
<router-outlet />
</tui-root>